lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
~$*.xlsx
~$*.xls
.vs/

documents/developer_documents/testing_script_generator/GRNsightTestingDocument.pdf
web-client/public/js/grnsight.min.js
web-client/public/stylesheets/print.css

pids
logs
results

npm-debug.log
node_modules

.DS_Store
*.pem
*.p12

_gh_pages

coverage/

# From https://gist.github.com/kogakure/149016
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
