# dotenv environment variables file
.env
.env.test

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
~$*.xlsx
~$*.xls

documents/developer_documents/testing_script_generator/GRNsightTestingDocument.pdf
web-client-classic/public/js/grnsight.min.js


pids
logs
results
/.idea

database/protein-protein-database/script-results
database/protein-protein-database/source-files
database/network-database/script-results
database/network-database/source-files
database/expression-database/script-results
database/expression-database/source-files

npm-debug.log
node_modules
package-lock.json

.DS_Store
*.pem
*.p12
*.key
*.cert

_gh_pages

coverage/

# From https://gist.github.com/kogakure/149016
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

.vscode

*.tmp

# Microsoft Office temporary files
~$*.doc*
Backup of *.doc*
~$*.xls*
*.xlk
~$*.ppt*
*.~vsd*

# Misc
.env
web-client/.vite/deps/
dist/

# Ignore Python __pycache__ folder
__pycache__/.nyc_output/
__pycache__/
*.pyc
*.pyo
*.pyd
