lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
~$*.xlsx
~$*.xls

documents/developer_documents/testing_script_generator/GRNsightTestingDocument.pdf
web-client/public/js/grnsight.min.js

pids
logs
results
/.idea

database/network-database/script-results
database/network-database/source-files
database/expression-database/script-results
database/expression-database/source-files

npm-debug.log
node_modules
package-lock.json

.DS_Store
*.pem
*.p12
*.key
*.cert

_gh_pages

coverage/

# From https://gist.github.com/kogakure/149016
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

.vscode

*.tmp

# Microsoft Office temporary files
~$*.doc*
Backup of *.doc*
~$*.xls*
*.xlk
~$*.ppt*
*.~vsd*

# Misc
.env
