doctype html
html
  head
    title GRNsight
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
    link(href="stylesheets/grnsight.css", rel="stylesheet")
    link(href="stylesheets/print.css", rel="stylesheet", media="print")
    link(href="//code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css", rel="stylesheet")
    script(src="//code.jquery.com/jquery-1.9.1.js")
    script(src="//code.jquery.com/ui/1.10.1/jquery-ui.js")
    script.
      (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,"script","//www.google-analytics.com/analytics.js","ga");
      ga("create", "UA-54882218-1", "auto");

  body
    nav(class='navbar navbar-default' role='navigation')
      div(class='container-fluid')
        div(class='navbar-header')
          button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='#header-nav')
            span(class='sr-only') Toggle Navigation
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
        div(class='collapse navbar-collapse' id='header-nav')
          ul(class='nav navbar-nav')
            li(class='dropdown')
              a(href='#' class='dropdown-toggle' data-toggle='dropdown') Network
              ul(class='dropdown-menu' role='menu')
                span(class='menu-subheader')
                  strong Network Source
                li(class='dropdown-submenu')
                  a(href='#' class='demo')
                    span Demo
                  include components/demo.pug
                li(class='sub-divider')
                li
                  a(class='upload' href='#' id='open-item')
                    label(for='upload-nav' id='open')
                      span(class='glyphicon glyphicon-folder-open')
                      | &nbsp; Open File...
                      i  (.xlsx, .sif, .graphml)
                    input(type='file' name='upload' id="upload-nav" class='upload' accept='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, .sif, .graphml')
                    input(type='hidden' class='service-root' value=`${serviceRoot}`)
                li(class='sub-divider')
                li
                  a(class='create-network' href='#')
                    label(for='create-network' class='create-network-label') Load from Database...

                li(class='divider')
                li(class='startDisabled disabled')
                  a(href='#' class='reload')
                    span(class='glyphicon glyphicon-repeat')
                    | &nbsp; Reload

                li(class='divider')

                li
                  span(class='menu-subheader') Network Mode
                li
                  span(id='network-mode-menu' class="menu-submenu network-mode") No Network Selected
                li
                  span(class='menu-subheader') Species
                li
                  span(id='Saccharomyces-cerevisiae', class="menu-submenu") Saccharomyces cerevisiae


            li(class='dropdown')
              a(href='#' class='dropdown-toggle', data-toggle='dropdown') Layout
              ul(class='dropdown-menu' role='menu')
                span(class='menu-subheader') Graph Options
                li
                  a(href='#' id='forceGraph' class='layout')
                    | &nbsp; &nbsp; &nbsp;Force Graph
                  a(href='#' id='gridLayout' class='layout disabled')
                    | &nbsp; &nbsp; &nbsp;Grid Layout
                li(class='divider')
                li
                  a(href='#' id='lockSlidersMenu' class="lockSliders")
                    span(class='glyphicon invisible')
                    |Lock Force Graph Parameters
                li
                  a(href='#' id='resetSlidersMenu' class="resetSliders")
                    span(class='glyphicon invisible')
                    |Reset Force Graph Parameters
                li(class='disabled')
                  a(href='#' id='undoResetMenu' class="undoSliderReset")
                    span(class='glyphicon invisible')
                    |Undo Reset
                li(class='divider')
                li
                  a(href='#' id='link-distance' class='with-input')
                    span(class='glyphicon invisible')
                    |Link Distance (1 - 1000) &nbsp;
                    input(type='number' id='link-distance-menu' class='keepopen' value='500' aria-describedby='basic-addon1')
                li
                  a(href='#' id='charge' class='with-input')
                    span(class='glyphicon invisible')
                    |Charge (-2000 - 0) &nbsp;
                    input(type='number' id='charge-menu' class='keepopen' value='-50' aria-describedby='basic-addon1')


            li(class='dropdown')
              a(href='#' class='dropdown-toggle' data-toggle='dropdown') Node
              ul(class='dropdown-menu' role='menu')
                li(class='node-coloring-menu disabled')
                  a(href='#' id='node-coloring-toggle-menu' class='nodeColoringToggle')
                    span(class='glyphicon')
                    | &nbsp; Enable Node Coloring
                div(id='node-coloring-navbar-options' class='disabled')
                  li(class='divider')
                  li(class='node-coloring-menu dropdown-submenu disabled')
                    a(href='#')
                      span(class='glyphicon invisible')
                      | &nbsp; Select Top Dataset
                    ul(class='dropdown-menu' id='topDatasetDropdownMenu')
                  li(class='node-coloring-menu disabled')
                    a(href='#' id='averageDataTopMenu' class='nodeColoring')
                      span(class='glyphicon')
                      | &nbsp; Average Replicate Values for Top Dataset
                  li(class='divider')
                  li(class='node-coloring-menu dropdown-submenu disabled')
                    a(href='#')
                      span(class='glyphicon invisible')
                      | &nbsp; Select Bottom Dataset
                    ul(class='dropdown-menu' id='bottomDatasetDropdownMenu')
                  li(class='node-coloring-menu disabled')
                    a(href='#' id='averageDataBottomMenu' class='nodeColoring')
                      span(class='glyphicon')
                      | &nbsp; Average Replicate Values for Bottom Dataset
                  li(class='divider')
                  li(class='node-coloring-menu disabled')
                    a(href='#' class='nodeOptions with-input')
                      span(class='glyphicon invisible')
                      | &nbsp; Log Fold Change Max Value (0.01 - 100): &nbsp;
                      input(type='number' min="0.01" max="100" id='log-fold-change-max-value-menu' class='logFoldChangeMaxValue keepopen' aria-describedby='basic-addon1')

            li(class='dropdown')
              a(href='#' class='dropdown-toggle' data-toggle='dropdown') Edge
              ul(class='dropdown-menu')
                li(class='weightedGraphOptionsMenu disabled')
                  a(href='#' id='colorEdges' class='colorEdges active')
                    span(class='glyphicon glyphicon-ok')
                    | &nbsp; Enable Edge Coloring Based on Weight Values
                li(class='divider')
                li(class='weightedGraphOptionsMenu disabled')
                  a(href='#' id='weightsMouseOverMenu' class='weightsMouseOver' class='selected')
                    span(class='glyphicon glyphicon-ok')
                    | &nbsp; Only Show Edge Weights With Mouse Over
                li(class='weightedGraphOptionsMenu disabled')
                  a(href='#' id='weightsAlwaysMenu' class='weightsAlways')
                    span(class='glyphicon')
                    | &nbsp; Always Show Edge Weights
                li(class='weightedGraphOptionsMenu disabled')
                  a(href='#' id='weightsNeverMenu' class='weightsNever')
                    span(class='glyphicon')
                    | &nbsp; Never Show Edge Weights
                li(class='divider')
                li(class='weightedGraphOptionsMenu disabled')
                  a(href='#' class='with-input')
                    span(class='glyphicon invisible')
                    | &nbsp; Edge Weight Normalization Factor (0.0001 - 1000) &nbsp;
                    input(type='number' id='edge-weight-normalization-factor-menu' class='keepopen' placeholder='' step='0.0001' aria-describedby='basic-addon1')
                li(class='weightedGraphOptionsMenu disabled')
                  a(href='#' id='reset-normalization-factor-menu')
                    span(class='glyphicon invisible')
                    | &nbsp; Reset Edge Weight Normalization Factor
                li(class='divider')
                li(class='weightedGraphOptionsMenu disabled')
                  a(href='#' class='with-input')
                    span(class='glyphicon invisible')
                    | &nbsp; Gray Edge Threshold (0 - 100%) &nbsp;
                    input(type='number' id='gray-edge-threshold-menu' class='keepopen' value='5' aria-describedby='basic-addon1')
                    | %
                li(class='weightedGraphOptionsMenu disabled')
                  a(href='#' id='grey-edges-dashed-menu')
                    span(class='glyphicon')
                    | &nbsp; Show Gray Edges as Dashed

            li(class='dropdown')
              a(href='#' class='dropdown-toggle' data-toggle='dropdown') View
              ul(class='dropdown-menu' role='menu')
                span(class='menu-subheader') Viewport Size
                li
                  a(href='#' id='viewport-size-s' class='viewportOption active' value='containerS')
                    span(class='glyphicon')
                    | &nbsp; Small (1104 x 648 pixels)
                li
                  a(href='#' id='viewport-size-m' class='viewportOption' value='containerM')
                    span(class='glyphicon glyphicon-ok')
                    | &nbsp; Medium (1414 x 840 pixels)
                li
                  a(href='#' id='viewport-size-l' class='viewportOption' value='containerL')
                    span(class='glyphicon')
                    | &nbsp; Large (1920 x 1080 pixels)
                li
                  a(href='#' id='viewport-size-fit' class='viewportOption' value='containerFit')
                    span(class='glyphicon')
                    | &nbsp; Fit To Window
                li(class='divider')
                li
                  a(href='#' id='restrict-graph-to-viewport' class='viewport')
                    span(class='glyphicon')
                    | &nbsp; Restrict Graph to Viewport
                li(class='divider')
                li(class='startDisabled disabled')
                  a(href='#' id='zoom' class='with-input')
                    span(class='glyphicon invisible')
                    | &nbsp; Zoom (
                    span(class='minimum-zoom-display')
                    | &ndash;
                    span(class='maximum-zoom-display')
                    | %) &nbsp;
                    input(type='number' id='zoomInput' min='1' max='200' value='100' class='zoom keepopen' aria-describedby='basic-addon1' disabled="true")
                    span
                    | &nbsp; %

            li(class='dropdown')
              a(href='#' class='dropdown-toggle' data-toggle='dropdown') Export
              ul(class='dropdown-menu' role='menu')
                li(class='dropdown-submenu')
                  a(href='#')
                    span(class='glyphicon glyphicon-export')
                    | &nbsp; Export Data
                  ul(class='dropdown-menu')
                    //- Temporary hardcoded display: none pending further testing of the Excel export feature.
                    li(class='startDisabled disabled unweighted export' style='display: none')
                      a(href='#' id='exportAsExcelWkbk') To Excel Workbook
                    //- Need to omit the divider too.
                    li(class='divider' style='display: none')
                    li(class='startDisabled disabled unweighted export')
                      a(href='#' id='exportAsUnweightedSif') To Unweighted SIF
                    li(class='startDisabled disabled weighted export')
                      a(href='#' id='exportAsWeightedSif') To Weighted SIF
                    li(class='divider')
                    li(class='startDisabled disabled unweighted export' id='unweightedGraphmlContainer')
                      a(href='#' id='exportAsUnweightedGraphMl') To Unweighted GraphML
                    li(class='startDisabled disabled weighted export')
                      a(href='#' id='exportAsWeightedGraphMl') To Weighted GraphML
                    li(class='divider')
                    li(class='startDisabled disabled export')
                      a(href='#' id='exportAsExcel') To Excel

                li(class='dropdown-submenu')
                  a(href='#')
                    span(class='glyphicon glyphicon-picture')
                    | &nbsp; Export Image
                  ul(class='dropdown-menu')
                    li(class='startDisabled disabled')
                      a(href='#' id='exportAsPng') To PNG
                    li(class='startDisabled disabled')
                      a(href='#' id='exportAsSvg') To SVG
                    li(class='startDisabled disabled')
                      a(href='#' id='exportAsPdf') To PDF
                li(class='divider')
                li(class='startDisabled disabled')
                  a(href='#' id='printGraph')
                    span(class='glyphicon glyphicon-print')
                    | &nbsp; Print


            li(class='dropdown')
              a(href='#' class='dropdown-toggle' data-toggle='dropdown') Help
              ul(class='dropdown-menu' role='menu')
                li
                  a(href='//dondi.github.io/GRNsight/documentation.html#gettingStarted', target='_blank') Getting Started
                li
                  a(href='https://github.com/dondi/GRNsight/wiki', target='_blank') GRNsight Wiki
                li
                  a(href='//dondi.github.io/GRNsight/about.html', target='_blank') About GRNsight

            li(class='dropdown')
              a(href='#' class='dropdown-toggle' data-toggle='dropdown') Demo
              include components/demo.pug
            li
              a(href='#' id='fileName')
          ul(class='nav navbar-nav navbar-right graph-metadata-container')
            li(class='navbar-text text-right')
              small(id='graph-metadata')

    div(class='container')
      div(class='grnsight-container' data-iframe-width data-iframe-height)
        div(class='scale-and-scroll')
          table(class='scrollTable')
            tr
              td
              td(class='scrollBtn scrollUp')
                  p(class='movementArrow') &#8593;
              td
            tr
              td(class='scrollBtn scrollLeft')
                p(class='movementArrow') &#8592;
              td(class='scrollBtn center')
                p(class='movementArrow') &#9788;
              td(class='scrollBtn scrollRight')
                p(class='movementArrow') &#8594;
            tr
              td
              td(class='scrollBtn scrollDown')
                p(class='movementArrow') &#8595;
              td

          span(class="pull-left zoomLabel")
            b
              | Zoom (
              span(class='minimum-zoom-display')
              | &ndash;
              span(class='maximum-zoom-display')
              | %):&nbsp;
          span(class="pull-right zoomLabel" id="zoomPercent") 100%
          br
          table(class='zoomTable')
            tr
              td
                div(class="zoomCenter")
                input(id="zoomSlider" class="zoom" type="range" min="0" max="8" value="4" step="0.25" disabled="true")




    div(class='sidebar' data-iframe-height)
      div(class='panel-group')
        div(class="network panel panel-default")
            p(class='panel-title sidebarPanelHeader')
              a(data-toggle='collapse' data-target='#networkSidebarPanel') Network
            div(id="networkSidebarPanel" class="panel-collapse")
              div(class="panel-body")
                form(class='panelDropdownContainer')
                  p(class="network-source-section-title") Network Source
                  div(class="network-source-section")
                    form(class='panelDropdownContainer')
                      label(for='speciesDropdown' class='info') Demo
                      select(class="DemoSourceDropdown panelDropdown btn btn-default" id='demoSourceDropdown' href='#')
                        option(value="none" selected="true" disabled hidden) Select a Demo
                        option(href='#' id='demoSourceDropdown-unweighted' class='unweighted' value='unweighted') Demo #1: Unweighted GRN (15 genes, 28 edges, Dahlquist Lab unpublished data)
                        option(href='#' id='demoSourceDropdown-weighted' class='weighted' value='weighted')  Demo #2: Weighted GRN (15 genes, 28 edges, Dahlquist Lab unpublished data)
                        option(href='#' id='demoSourceDropdown-schadeInput' class='schadeInput' value='schadeInput') Demo #3: Unweighted GRN (21 genes, 31 edges)
                        option(href='#' id='demoSourceDropdown-schadeOutput' class='schadeOutput' value='schadeOutput') Demo #4: Weighted GRN (21 genes, 31 edges, Schade et al. 2004 data)
                        option(href='#' id='demoSourceDropdown-ppi' class='ppi' value='ppi') Demo #5: PPI (18 proteins, 81 edges)
                    label(for='upload-network' class='open btn btn-default network-button' data-toggle='tooltip', title='(.xlsx, .sif, .graphml)')
                      span(class='glyphicon glyphicon-folder-open')
                      | &nbsp; Open File
                    input(type='file' name='upload' id='upload-network' class='upload btn btn-default' accept='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, .sif, .graphml')
                    input(type='hidden' class='service-root' value=`${serviceRoot}`)
                    button(id="create-network-button" class="btn btn-default create-network network-button")
                          span(class='glyphicon glyphicon-hdd sidebar-glyphicon')
                          | &nbsp; Load from Database
                  div(class="long-sub-divider")
                  button(id="reload-button", class="btn btn-default network-button reload startDisabled disabled")
                    span(class='glyphicon glyphicon-repeat sidebar-glyphicon')
                    | &nbsp; Reload
                  div(class="long-sub-divider")
                  label(for='speciesDropdown' class='info') Network Mode:
                    span(class="networkMode" id='network-mode-info' name="network-mode-info") No Network Selected
                  label(for='species-info' class='info') Species:
                    span(id='species' class='network-type') Saccharomyces cerevisiae
                  input(type="hidden" id='species-info')

        //- Sliders should have the ID convention of -Name-Val and -Name-Input in order to work properly in the javascript
        div(class="force-graph panel panel-default")
            p(class='panel-title sidebarPanelHeader')
              a(data-toggle='collapse' data-target='#layoutSidebarPanel') Layout
            div(id="layoutSidebarPanel" class="panel-collapse collapse")
              div(class="panel-body")
                  form(class='buttonPairContainer')
                    //- Value is set to empty to ensure that the MVC cycle takes care of the button’s label.
                    input(id='forceGraphButton' type='button' class='btn btn-default' value='Force Graph')
                    input(id='gridLayoutButton' type='button' class='btn btn-default disabled' value='Grid Layout')
                  form(class='forceParameterContainer')
                    div(class='labelWithValueContainer')
                      label(for='linkDistInput', class='info', data-toggle='tooltip', title='Increases/decreases the length of the edges that connect the nodes.') Link Distance (1-1000):
                      span(id='linkDistVal' class='forceVal') 500
                    input(class='sidebarSlider', type='range', min='1', max='1000', value='500', step='1', id='linkDistInput', name='linkDistInput')
                    div(class='labelWithValueContainer')
                      label(for='chargeInput', class='info', data-toggle='tooltip', title='Increases/decreases the strength of the force that causes the nodes to repel each other.') Charge (–2000-0):
                      span(id='chargeVal' class='forceVal') -50
                    input(class='sidebarSlider', type='range', min='-2000', max='0', value='-50', step='1', id='chargeInput', name='chargeInput')
                  form
                    input(id='lockSlidersButton', type='checkbox', value='lockSliders' class="lockSliders")
                    label(for='lockSlidersButton' class='sideLabel') Lock Force Parameters
                  form
                    input(id='resetSlidersButton' type='button' class='btn btn-default btnSidebar resetSliders' value='Reset Force Parameters')
                    input(id='undoResetButton' type='button' class='btn btn-default btnSidebar undoSliderReset' value='Undo Reset' disabled)
                  p(id='warningMessage' data-toggle='modal' data-target='#warningsModal')

        div(class="node-coloring disabled panel panel-default disabled")
          p(class='panel-title sidebarPanelHeader disabledOnLaunch')
            a(id='nodeColoringHeaderLink' data-toggle='collapse' data-target='#nodeColoringSidebarPanel') Node
          div(id="nodeColoringSidebarPanel" class="panel-collapse collapse")
            div(class="panel-body")
              div(class='edgeControl')
                input(id='nodeColoringToggleSidebar' class='nodeColoringToggle' type='checkbox' checked)
                label(for='nodeColoringToggleSidebar' class='sideLabel') Enable Node Coloring
              div(class="nodeColoringSidebarBody")
                p(class='sideHeader info' data-toggle='tooltip') Select from user-uploaded expression data, or use data from our Expression Database
                p(class='sideHeader info' data-toggle='tooltip') Top Dataset
                select(id="dataset-top")
                form
                  input(id='averageDataTop', type='checkbox' checked)
                  label(for='averageDataTop' class='sideLabel') Average Replicate Values
                p(class='sideHeader info' data-toggle='tooltip') Bottom Dataset
                select(id="dataset-bottom")
                form
                  input(id='averageDataBottom', type='checkbox' checked)
                  label(for='averageDataBottom' class='sideLabel') Average Replicate Values
                p(class='sideHeader' id="logFoldChangeMaxValue") Log Fold Change Max Value (0.01-100):
                div(class='logFoldChangeControlContainer')
                  input(type='number' min='1' max='100' step='1' id='log-fold-change-max-value-sidebar' class='logFoldChangeMaxValue' aria-describedby='basic-addon1')
                  button(type="button" class='btn btn-default s' id="log-fold-change-button") Set
                div(class="node-coloring-legend")
                div(class="expression-db-loader-text") Expression Database is Loading
                div(class="expression-db-loader")

        div(class='edge-weight-sidebar disabled panel panel-default disabled')
          p(class='panel-title sidebarPanelHeader disabledOnLaunch')
            a(id="edgeWeightHeaderLink" data-toggle='collapse' data-target='#edgeSidebarPanel') Edge
          div(id="edgeSidebarPanel" class="panel-collapse collapse")
            div(class="panel-body")
              form(class='weightedGraphOptions hidden')
                div(class='edgeControl')
                  input(id='colorEdgesSidebar' class='colorEdges' type='checkbox' checked)
                  label(for='colorEdgesSidebar' class='sideLabel') Enable Edge Coloring
                p(class='sideHeader') Hide/Show Edge Weights
                div(class='edgeControl')
                  input(type='radio' id='weightsMouseOverSide' class='weightsMouseOver' name='size' class='selected' checked)
                  label(for='weightsMouseOverSide' class='sideLabel') Show With Mouse Over
                div(class='edgeControl')
                  input(type='radio' id='weightsAlwaysSide' class='weightsAlways' name='size')
                  label(for='weightsAlwaysSide' class='sideLabel') Always Show Edge Weights
                div(class='edgeControl')
                  input(type='radio' id='weightsNeverSide' class='weightsNever' name='size')
                  label(for='weightsNeverSide' class='sideLabel') Never Show Edge Weights
              div(class='weightedGraphOptions hidden')
                p(class='sideHeader' id="normLabel") Edge Weight Normalization Factor (0.0001-1000):
                input(type='number' class='normalization-form' id='normalization-max' placeholder='maximum' step='0.0001' aria-describedby='basic-addon1')
                div(class='buttonPairContainer')
                  button(type="button" class='btn btn-default s' id="normalization-button") Set Factor
                  button(type='button' class='btn btn-default btn-norm' id='resetNormalizationButton') Reset Factor
              div(class='weightedGraphOptions hidden')
                div(class='labelWithValueContainer')
                  label(id='grayLabel' for='grayThresholdInput', class='info', data-toggle='tooltip', title='Increases/decreases the threshold at which edges appear gray. Edges with normalized weight values below this percentage are shown as gray.') Gray Threshold (0-100%): &nbsp; &nbsp;
                  span(class='forceVal', id='grayThresholdValue') 5%
                input(id='grayThresholdInput', class='sidebarSlider', type='range', min='0', max='1', value='0.05', step='0.01')
                div(class='edgeControl')
                  input(id='dashedGrayLineButton', type='checkbox', value='dashedGrayLine')
                  label(for='dashedGrayLineButton' class='sideLabel') Show Gray Edges as Dashed

        div(class='view-sidebar panel panel-default')
          p(class='panel-title sidebarPanelHeader')
            a(data-toggle='collapse' data-target='#viewportSidebarPanel') View
          div(id="viewportSidebarPanel" class="panel-collapse collapse")
            div(class="panel-body")
              label(class='sideHeader') Size
              form
                input(type='radio' id='boundBoxS' class='boundBoxSize' name='size' value='containerS')
                label(for='boundBoxS' class='sideLabel')
                  | Small #[small (1104 X 648 pixels)]
                br
                input(type='radio' id='boundBoxM' class='boundBoxSize' name='size' value='containerM')
                label(for='boundBoxM' class='sideLabel')
                  | Medium #[small (1414 X 840 pixels)]
                br
                input(type='radio' id='boundBoxL' class='boundBoxSize' name='size' value='containerL')
                label(for='boundBoxL' class='sideLabel')
                  | Large #[small (1920 X 1080 pixels)]
                br
                input(type='radio' id='boundBoxFit' class='boundBoxSize' name='size' value='containerFit')
                label(for='boundBoxFit' class='sideLabel') Fit to window
                br
                input(type='checkbox' id='viewport' class='viewport' name='viewport' value='viewport')
                label(for='viewport' class='sideLabel') Restrict graph to viewport

    div(class='graph-statistics-container hidden')
      div(class='panel panel-default')
        div(class='panel-heading' role='tab' id='graph-statistics-heading')
          h4(class='panel-title')
            a(role='button' data-toggle='collapse' href='#graph-statistics' aria-expanded='true') Graph Statistics
        div(id='graph-statistics' class='panel-collapse collapse' role='tabpanel' aria-labelledby='graph-statistics-heading')
          div(class='panel-body')
            table(class='table table-condensed')
              thead
                tr
                  th(rowspan='2')
                  th(rowspan='2') Betweenness Centrality
                  th(class='shortest-path-header') Shortest Path
                tr(class='shortest-path-column-headers')
              tbody

    div(id='errorModal' class='modal fade' tab-index='-1' role='dialog' aria-labelledby='mySmallModalLabel' aria-hidden='true' data-backdrop="static")
      div(class='modal-dialog')
        div(class='modal-content')
          div(class='modal-header')
            button(type='button' class='close' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h4(class='modal-title') Error
          div(class='modal-body')
            p(id='error')
          div(class='modal-footer')
            input(type='button' class='btn btn-default' data-dismiss='modal' value='Close')
            input(type='button' id='launchFileOpen' class='btn btn-primary' data-dismiss='modal' value='Select New File' onclick="$('#upload-network').click()")

    div(id='warningsModal' class='modal fade' tab-index='-1' role='dialog' aria-labelledby='mySmallModalLabel' aria-hidden='true' data-backdrop="static")
      div(class='modal-dialog')
        div(class='modal-content')
          div(class='modal-header')
            button(type='button' class='close' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h4(class='modal-title') Warning
          div(class='modal-body' overflow='scroll')
            p(id='warningIntro')
            div(class='panel-group' id='accordion' role='tablist' aria-multiselectable='true')
              div(class='panel panel-default')
                div(class='panel-heading' role='tab' id='warningsHeader')
                  h4(class='panel-title')
                    a(data-toggle='collapse' data-parent='accordian' href='#warningsInfo' aria-expanded='true' aria-controls='warningsInfo') Warnings List
                div(id='warningsInfo' class='panel-collapse collapse' role='tabpanel' aria-labelledby='warningsHeader')
                  div(class='panel-body' id='list-frame')
                    p(id='warningsList')

          div(class='modal-footer')
            input(type='button' class='btn btn-default' data-dismiss='modal' value='Close')

    div(id='exportExcelModal' class='modal fade' tab-index='-1' role='dialog' aria-labelledby='mySmallModalLabel' aria-hidden='true' data-backdrop="static")
      div(class='modal-dialog')
        div(class='modal-content')
          div(class='modal-header')
            button(type='button' class='close' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h4(class='modal-title') Export to Excel
          div(class='modal-body')
            div(id='exportExcelQuestions-containter')
          div(class='modal-footer')
            div(id='exportExcelFooter-container')

    div(id='generateNetworkModal' class='modal fade' tab-index='-1' role='dialog' aria-labelledby='mySmallModalLabel' aria-hidden='true' data-backdrop="static")
      div(class='modal-dialog')
        div(class='modal-content')
          div(class='modal-header')
            button(type='button' class='close' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h4(class='modal-title') Load from Database
          div(class='modal-body')
            div(id='generateNetworkQuestions-container')
          div(class='modal-footer')
            div(id='generateNetworkFooter-container')

    div(id='warningsModalSpecies' class='modal fade' tab-index='-1' role='dialog' aria-labelledby='mySmallModalLabel' aria-hidden='true' data-backdrop="static")
      div(class='modal-dialog')
        div(class='modal-content')
          div(class='modal-header')
            button(type='button' class='close' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h4(class='modal-title') Warning
          div(class='modal-body' overflow='scroll')
            p(id='warningIntroSpecies')
          div(class='modal-footer')
            input(type='button' class='btn btn-default' data-dismiss='modal' value='Close')
            //- input(type='button' id='launchFileOpen' class='btn btn-primary' data-dismiss='modal' value='Select New File' onclick="$('.upload').click()")

    div(id='importErrorModal' class='modal fade' tab-index='-1' role='dialog' aria-hidden='true' data-backdrop="static")
      div(class='modal-dialog')
        div(class='modal-content')
          div(class='modal-header')
            button(type='button' class='close' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h4(class='modal-title') Import Error
          div(class='modal-body')
            p The following error was encountered during the import attempt:
            blockquote(id='importErrorMessage')
            div Please verify that the file being imported is in the right format then try the import again.
          div(class='modal-footer')
            input(type='button' class='btn btn-default' data-dismiss='modal' value='Close')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  script(src='lib/bootstrap.file-input/bootstrap.file-input.js')
  script(src='lib/iframeSizer.contentWindow.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/d3/4.10.2/d3.min.js')
  script(src='//d3js.org/d3-scale-chromatic.v1.min.js')
  script(src='js/grnsight.min.js')
