.submission {
  margin-left: 10px;
}
.file-input-name {
  font-weight: normal;
}
.grnsight-container {
  position: fixed;
  left: 250px;
  top: 52px;
  right: 5px;
  bottom: 5px;
  border: 1px solid #9a9a9a;
}
.sliders {
  width: 225px;
  margin-left: 10px;
}
form {
  margin-bottom: 1ex;
}
form label,
form span {
  margin: 1ex;
}
.navbar {
  top: 1px;
}
#upload {
  display: none;
}
.glyphicon {
  min-width: 22px;
}
#open-item {
  padding-left: 0;
  padding-right: 0;
}
#open {
  font-weight: normal;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
#fileName {
  color: #000;
  cursor: text;
}
nav.navbar.navbar-default {
  background-color: #dfebe5;
  border-color: #dfebe5;
}
.navbar-default .navbar-nav>li>a {
  color: #000;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #696969;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color: #16693f;
  color: #fff;
}
.info {
  font-size: 13px;
}
.forceVal {
  font-size: 12px;
}
.dropdown-menu > li > a:hover {
  background-color: #dfebe5;
}
#undoReset {
  width: 225px;
  margin-top: 5px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
