.submission {
  margin-left: 10px;
}
.file-input-name {
  font-weight: normal;
}
.grnsight-container {
  position: fixed;
  left: 250px;
  top: 52px;
  right: 5px;
  bottom: 5px;
  border: 1px solid #9a9a9a;
}
.sliders {
  width: 225px;
  margin-left: 10px;
}
form {
  margin-bottom: 1ex;
}
form label,
form span {
  margin: 1ex;
}
.navbar {
  top: 1px;
}
#upload {
  display: none;
}
#open {
  font-weight: normal;
}
#fileName {
  color: #000;
  cursor: text;
}
