//CHANGE ME IF YOU WANT TO CHANGE CSS

body
  min-width: 1326px

p
  margin: 0

.zoomLabel
  font-size: 9px

.submission
  margin-left: 10px

.file-input-name
  font-weight: normal

.grnsight-container
  left: 250px
  top: 53px
  border:2px solid #9A9A9A
  position: absolute

.scale-and-scroll
  position: absolute
  bottom: 0px
  left: 0px
  z-index: 1
  cursor: default
  margin-left: 15px

.scrollTable
  text-align: center
  table-layout: fixed
  margin-bottom: 10px

.scrollTable td
  width: 40px
  height: 40px

.scrollBtn
  border: 1px solid #AAA

.movementArrow
  font-weight: bolder;
  font-size: 24px;

.zoomTable
  margin-bottom: 5px
  text-align: center
  table-layout: fixed

.zoomTable td
  height: 20px
  width: 120px

.zoomCenter
  position:absolute
  width: 2px
  z-index: -1;
  background-color: #AAA
  height: 25.5px
  left: 59.5px
  top: 148.5px

.containerS
  width: 1104px
  height: 648px

.containerM
  width: 1414px
  height: 840px

.containerL
  width: 1920px
  height: 1080px

.sidebar
	width: 225px
	margin-left: 10px

#lockSlidersButton
  margin-bottom: 15px

form label, form span
  margin: 5px

.navbar
  top: 1px
  margin-right: auto
  margin-bottom: 10px

.glyphicon
  min-width: 22px

.dropdown-menu > li > a.upload
  padding-left: 0
  padding-right: 0

.dropdown-menu > li > a.upload > label
  font-weight: normal
  margin-bottom: 0
  padding-left: 20px
  padding-right: 20px
  width: 100%

.dropdown-menu > li > a.upload > input[type=file]
  display: none

#fileName
  color: #000000
  cursor: text

.not-yet-implemented, .nav > li.not-yet-implemented
  display: none

nav.navbar.navbar-default
  background-color: #dfebe5
  border-color: #dfebe5

.navbar-default .navbar-nav>li>a
  color: #000000

.navbar-default .navbar-nav>li>a:hover
  color: #696969

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus
  background-color: #16693F
  color: #FFFFFF

.navbar-right.graph-metadata-container > li
  margin-top: 4px
  margin-bottom: 4px

.info
  font-size: 13px

.forceVal
  font-size: 12px
  display: inline-block

.dropdown-menu > li > a:hover
  background-color: #dfebe5

#undoResetButton
  width: 225px
  margin-top: 5px

#mouseOver
  margin-top: 10px
  text-align: center

.btnSidebar
  width: 225px

#warningsModal #accordion
  margin-bottom: 0

// Many thanks to Skelly from http://stackoverflow.com/questions/18023493/bootstrap-3-dropdown-sub-menu-missing
// for the solution to creating submenus in bootstrap!

.dropdown-submenu
    position:relative

.dropdown-submenu>.dropdown-menu
    top:0
    left:100%
    margin-top:-6px
    margin-left:-1px
    -webkit-border-radius:0 6px 6px 6px
    -moz-border-radius:0 6px 6px 6px
    border-radius:0 6px 6px 6px

.dropdown-submenu:hover>.dropdown-menu
    display:block

.dropdown-submenu>a:after
    display:block
    content:" "
    float:right
    width:0
    height:0
    border-color:transparent
    border-style:solid
    border-width:5px 0 5px 5px
    border-left-color:#cccccc
    margin-top:5px
    margin-right:-10px

.dropdown-submenu:hover>a:after
    border-left-color:#ffffff

.dropdown-submenu.pull-left
    float:none

.dropdown-submenu.pull-left>.dropdown-menu
    left:-100%
    margin-left:10px
    -webkit-border-radius:6px 0 6px 6px
    -moz-border-radius:6px 0 6px 6px
    border-radius:6px 0 6px 6px

.panel-body
  overflow: scroll;

// Graph statistics styling is due to absolute position and size of grnsight-container
.graph-statistics-container
  margin-top: 256px
  margin-left: 15px
  width: 1335px // 1335 + 15 = 1350

text.weight
    cursor: default
    font-size: 20px
    font-weight: 900
    fill: black
    opacity: 0.0
    stroke: white
    stroke-width: 0.5px
    transition: opacity 0.25s
    visibility: hidden

text.weight.visible
    opacity: 1.0
    visibility: visible

#weightsSideLabel
  line-height: 3px;
  font-size: 13px;

.sideHeader
  line-height: 5px;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 10px;

path.mousezone
    opacity: 0.0

.normalization-form
    width: 50px;
    margin-bottom: 8px;

.cursorGrab
    cursor: -webkit-grab;
    cursor: grab;

.cursorGrabbing
    cursor: -webkit-grabbing;
    cursor: grabbing;

.btn-norm
    display: inline-block;
    width: 100px;

#normalization-button
    margin-right: 5px;

#grayLabel
    margin-top: 10px;

#normLabel
    margin-bottom: 10px;
    display: inline-block;
