p {
  margin: 0;
}

body {
  font-size: 14px;
  line-height: 1.42857143;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  transition: none;
  transition-property: none;
  transition-duration: none;
  transition-timing-function: none;
}

#disclaimer {
  padding: 14px 5px;
  font-family: "Georgia", serif;
  font-size: 14px;
  white-space: nowrap;
}

#disclaimer a {
  color: #16693f;
}

.navbar {
  top: 1px;
  min-height: 50px;
  margin-bottom: 1px;
  position: relative;
  border-radius: 4px;
  line-height: 20px;
  font-size: 14px;
  border: 1px solid #dfebe5;
}

.navbar button,
.filename {
  color: #000000;
  border: none;
}

.navbar button span {
  font-size: 14px;
}

.italics {
  font-style: italic;
}

.dropdown-menu {
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: white;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.dropdown-menu button {
  border: none;
}

.dropdown-menu button:hover {
  background-color: #dfebe5;
}

.dropdown-menu div:has(button) {
  border-radius: 0px;
}

.dropdown-menu div:has(button):hover {
  background-color: #dfebe5;
}

.demo-dropdown-navbar {
  border: none;
}

.folder-icon {
  margin-right: 5px;
}

.navbar button:hover {
  color: #696969;
  box-shadow: none;
}

button {
  border: none;
  box-shadow: none;
}

button:hover {
  border: none;
  box-shadow: none;
}

.demo-button {
  text-align: start;
  padding: 0px;
  padding-inline: 0px;
  padding-block: 0px;
  border: none;
  box-shadow: none;
  transition: none;
  transition-property: none;
  transition-duration: none;
  transition-timing-function: none;
}

.demo-button:hover {
  border: none;
  border-radius: 0px;
  box-shadow: none;
  transition: none;
  transition-property: none;
  transition-duration: none;
  transition-timing-function: none;
}

.subdivider {
  border-top: 1px dotted #bbb;
  width: 95%;
  margin: auto;
}

.long-subdivider {
  border-top: 1px dotted #bbb;
  width: 100%;
  margin: auto;
}

.dropdown {
  margin-right: 15px;
  cursor: pointer;
  padding: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-submenu {
  position: relative;
}

#sidebar {
  width: 225px;
  margin-left: 10px;
  margin-right: 15px;
  position: relative;
  overflow: visible;
}

#sidebar-graph-container {
  display: flex;
  align-items: flex-start;
}

#sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#sidebar-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 225px;
  border: 1px solid #ccc;
  margin-left: 10px;
  padding: 5px;
}

#sidebar-toggle.collapsed {
  width: auto;
  padding: 5px;
}

.panel {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #ddd;
  border-radius: 4px;
  line-height: 1.42857143;
}

.panel-dropdown-container {
  margin-top: 0px;
  padding: 0px, 10px, 10px, 10px;
  text-align: left;
}

.panel-dropdown-container button,
.panel-dropdown-container select {
  border: 1px solid #ccc;
  border-radius: 4px;
  text-overflow: hidden;
}

.load-from-database {
  padding: 6px 12px;
}

.panel-dropdown-container input {
  padding: 6px 12px;
  border-radius: 4px;
}

.network-source-section {
  margin-left: 10px;
}

.demo-source-dropdown {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
}

.file-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
}

.sidebar-radio-buttons {
  font-size: 14px;
}

/* TODO: is this being used correctly? */
input[type="radio"]:checked {
  border: 2px solid #333;
}

.sidebar-radio.disabled {
  color: #aaa;
}

.sidebar-glyphicon {
  margin-right: 0px;
}

.grnsight-container {
  position: relative;
  border: 2px solid #9a9a9a;
  stroke: #fff;
  stroke-width: 0.5px;
  flex-shrink: 0;
  width: 1100px;
  height: 644px;
  transition: opacity 0.25s;
}

.load-from-database {
  border: 2px solid red;
}

.scale-and-scroll {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  cursor: default;
  margin-left: 15px;
  width: 121px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
}

/* For some reason, scrollTable is 124px tall instead of 121px */
.scrollTable {
  text-align: center;
  table-layout: fixed;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.scrollTable td {
  width: 40px;
  height: 40px;
  padding: 0;
}

.scrollBtn {
  border: 1px solid #aaa;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.movementArrow {
  font-weight: bolder;
  font-size: 24px;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.zoomTable {
  margin-bottom: 5px;
  text-align: center;
  table-layout: fixed;
  height: 20px;
}

.zoomTable td {
  padding: 0;
  height: 20px;
  width: 120px;
}

.zoomLabel {
  font-size: 9px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#zoomSlider {
  margin: 0;
  width: 120px;
  /* enforce light mode */
  color-scheme: light;
}

.minimum-zoom-display {
  margin-right: 0.25rem;
}

.maximum-zoom-display {
  margin-left: 0.25rem;
}

/* TODO: investigate why the top is off by 10px from classic */
.zoomCenter {
  position: absolute;
  width: 2px;
  z-index: -1;
  background-color: #aaa;
  height: 25.5px;
  left: 59.5px;
  top: 158.5px;
}

#file-name {
  white-space: nowrap;
  padding: 15px;
}
