                <hr id="separate">
                <ul id="footerNav">
                    {% include menu.html %}
                </ul>
                <p id="CCLicense">
                    This web site is free and open to all users and there is no login requirement.

                    Web site content is available under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">Creative Commons
                    <br>
                    Attribution Non-Commercial Share Alike 3.0 Unported License</a>.

                    GRNsight code is available under the open source <a href="http://opensource.org/licenses/BSD-3-Clause" target="_blank">BSD license</a>.

                  <!--
                    <br>

                    This page has been accessed <span class="ga-report"></span> times.

                    {% if page.title == 'Beta' or page.title == 'Home' %}
                        <span class="ga-upload"></span> files have been uploaded and viewed with GRNsight.
                    {% endif %}
                  -->
                </p>
