    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BTK62R1KEX"></script>
        <title>GRNsight - {{ page.title }}</title>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
        <meta charset="utf-8">
        {% seo title=false %}
    </head>
