                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="{{ site.baseurl }}/about/">About</a></li>
                    <li><a href="{{ site.baseurl }}/news/">News</a></li>
                    <li><a href="https://github.com/dondi/GRNsight" target="_blank">Developers</a></li>
                    <li><a href="{{ site.baseurl }}/documentation/">Documentation</a></li>
                    <li><a href="https://github.com/dondi/GRNsight/wiki" target="_blank">Wiki</a></li>
                    <li><a href="{{ site.baseurl }}/publications/">Publications</a></li>
                    <li><a href="{{ site.baseurl }}/people/">People</a></li>
                    <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
                    <li><a href="{{ site.baseurl }}/links/">Links</a></li>
                    <li><a href="{{ site.baseurl }}/beta/">Beta</a></li>