                    <li><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="{{ site.baseurl }}/about.html">About</a></li>
                    <li><a href="{{ site.baseurl }}/news.html">News</a></li>
                    <li><a href="https://github.com/dondi/GRNsight" target="_blank">Developers</a></li>
                    <li><a href="{{ site.baseurl }}/documentation.html">Documentation</a></li>
                    <li><a href="https://github.com/dondi/GRNsight/wiki" target="_blank">Wiki</a></li>
                    <li><a href="{{ site.baseurl }}/publications.html">Publications</a></li>
                    <li><a href="{{ site.baseurl }}/people.html">People</a></li>
                    <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
                    <li><a href="{{ site.baseurl }}/links.html">Links</a></li>
                    <li><a href="{{ site.baseurl }}/beta.html">Beta</a></li>
                    <li><a href="{{ site.baseurl }}/about.html#privacy">Privacy</a></li>
