            <div id="logo">
                <a href="http://dondi.github.io/GRNsight"><img id="GRNsightLogo" src="{{ site.baseurl }}/assets/images/GRNsight_logo_20140710_main_resized.jpg" alt="GRNsight" width="200" height="118"></a></div>
            <div id="title-container">
                <div id="title-and-subtext">
                    <p id="title"><a href="{{ site.baseurl }}">GRNsight</a></p>
                    <p id="subtext">Web app for visualizing models of small-scale gene regulatory and protein-protein interaction networks.</p></div>
                <p id="subtextLMU">A Joint Project of the<br />
                    LMU Bioinformatics and<br />
                    Biomathematics Groups</p></div>
            <div id="lmu">
                <a href="http://www.lmu.edu" target="_blank"><img src="{{ site.baseurl }}/assets/images/LMULogoHQ2.png" alt="LMU logo" width="200" height="118" id="lmuLogo" /></a>
            </div>
            <div class="alert alert-success hidden" id="cookie-notice" role="alert">
                <div>This site uses Google Analytics to count pageviews and file uploads to demonstrate usage of our software to interested parties such as our employers and funding agencies. Information about your use of this site is shared with Google. By using this site, you agree to its use of cookies.</div>
                <button class="cookie-action" id="accept-cookies" data-dismiss="alert" aria-label="Accept">
                    <strong>Accept analytics cookies</strong>
                </button>
                <button class="cookie-action" id="decline-cookies" data-dismiss="alert" aria-label="Decline">
                    <strong>Decline analytics cookies</strong>
                </button>
                <a target="_blank" class="cookie-action" href="https://www.google.com/policies/technologies/cookies/">
                    <strong>Learn more</strong>
                </a>
            </div>
