body {
	font-family: 'Georgia', serif;
	margin:0;
	background-color: #FFFFFF;
	min-width: 1300px;

	/* Overwrite bootstrap CSS */
	line-height: normal;
	font-size: medium;
}

iframe.embedded-demo {
	padding:0;
	margin:0;
	height:770px;
	width:1350px;
    overflow:scroll;
    border:0;
}

#header {
	right:0;
	left:0;
	background-color: #16693F;
	height:118px;
}

#GRNsightLogo {
	width: 200px;
	height: 118px;
	float:left;
	padding-right:10px;
}

#header p {
	color: #F8F8F8;
	margin: 0 10px 0 10px;
	text-shadow: 1px 1px 2px #080808;
}

#title {
	font-size: 60px;
	line-height: 1.4;
}

#title > a {
    color: #F8F8F8; /* Force to match header text regardless of state. */
}

#subtext {
	font-size: 20px;
	line-height: 1.2;
}

#lmu {
	position: relative;
	float:right;
	width:400px;
}

#subtextLMU {
	font-size: 15px;
	line-height: 1;
	font-style: italic;
	padding-right:5px;
	padding-top: 2px;
	text-align: right
}

#lmuLogo {
	position:relative;
	float:right;
	padding-left:10px;
}

#version {
	font-size:14px;
}

#navBar {
	margin-top:20px;
	padding-top:1px;
	width: 160px;
	height:300px;
	position: absolute;
}

#stickyBar.affix {
	top: 0px;
}

.nav {
	list-style-type: none;
	line-height: 2;
	font-size: 15px;
	border-right: 1px solid #828282;
	width:159px;
}

a {
	text-decoration: none;
	color: #16693F;
}

a:hover {
	color: #69163F;
}

a:active {
	color: #125432;
}

#pageContent a, #CCLicense a {
	text-decoration: underline;
}

#modText {
	padding: 5px 0 0 40px;
	line-height: 1;
	font-size: 12px;
	width: 130px;
}

#mainContent {
	left:0;
	right:0;
	margin: 20px 0px 0px 209px;
	padding: 5px 5px 5px 5px;
}

.fixWidthforImage {
	min-width: 1525px;
}

.fixWidthforImage > div.pull-left {
	margin-bottom: 1em;
}

.fixWidthforImage > div.pull-right {
	max-width: 720px; margin-right:200px;
}

#pageTitle {
	font-size: 25px;
	color: #141414;
}

#pageContent {
	color:#141414;
	font-size: 14px;
	padding: 0px 5px 5px 10px;
    margin-right: 8em;
}

#pageContent p {
	text-align: justify;
}

#pageContent li {
    margin-bottom: 0.65ex;
	text-align: justify;
	width: 95%;
}

p.panel-title.aboutHeaders {
	font-size: 16px;
	font-weight: bold;
}

.name {
	font-weight:bold;
	font-size:18px;
	margin:0 0 0 0;
	padding-left:15px;
}

.personInfo {
	font-weight:normal;
	font-size:15px;
	margin: 0 0 0 30px;
        white-space: nowrap;
}

.studentName {
	padding-left: 30px;
}

h3 {
	padding-left: 10px;
	margin: 15px 0 10px 0;
}

.abstract, .publication {
	font-size: 15px;
    margin-bottom: 3em;
	margin-left: 30px;
    margin-right: 15px;
}

figure.publication {
    margin-left: 90px;
}

figure.publication > iframe {
	border:1px solid #CCC;
	border-width:1px 1px 0;
	margin-bottom:5px;
	max-width: 100%;
}

figure.publication > figcaption > a {
    font-weight: bold;
}

.newsDate {
	font-weight:bold;
	font-size:18px;
	line-height: 1.5;
	margin:0 0 0 0;
	padding-left:15px;
	width:75%;
	border-bottom: 1px solid #828282;
}

.newsHeader {
	font-weight:bold;
	font-size:15px;
	margin:0 0 0 0;
	padding: 10px 0 0 30px;
}

.newsInfo {
	font-size:14px;
	margin: 0 0 0 0;
	padding: 10px 0 30px 30px;
}

.extraInfo {
	font-size:14px;
	margin: 0 0 0 0;
	padding: 10px 0 0px 30px;
}

.linkHeader {
	font-weight:bold;
	font-size:18px;
	margin:0 0 0 0;
	padding-left:15px;
}

.linkInfo {
	font-size:15px;
}

#separate {
	width:90%;
}

#footerNav {
	padding-top:20px;
	list-style-type: none;
	font-size: 12px;
	text-align: center;
	clear:both
}

#footerNav li {
	display:inline;
	padding: 15px 15px;
}

#CCLicense {
	font-size: 12px;
	text-align: center;
}

ul {
	list-style-type: disc;
}

ul ul {
	list-style-type: circle;
}

ul ul ul {
	list-style-type: square;
}

/* Overwrite Bootstrap styling */
* {
	box-sizing: content-box;
}

html {
	font-size: medium;
}

.panel-title {
	font-size: 13px;
}

.panel-default>.panel-heading {
	background-color: #dfebe5;
}

.panel-heading {
	padding: 7px 15px;
}

/* This is derived from .alert.alert-success in full Bootstrap.
   We are not using full Bootstrap on this site however, thus
   the derivation. */
#cookie-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: rgba(60, 60, 60, 0.5) 0 8px 16px;
    color: #3c763d;
    font-family: sans-serif;
    margin-bottom: 20px;
    max-width: 34em;
    padding: 15px;
    position: absolute;
    right: 2ex;
    text-shadow: none;
    top: 1ex;
}

.cookie-action {
    background: none;
    border: none;
    float: right;
    margin-left: 1em;
    margin-top: 1em;
    padding: 0;
    text-align: right;
}

.cookie-action:hover {
	color: #69163F;
    text-decoration: underline;
}

.cookie-action:active {
	color: #125432;
    text-decoration: underline;
}

