body {
	font-family: 'Georgia', serif;
	margin:0;
	background-color: #FFFFFF;
	min-width: 1300px;

	/* Overwrite bootstrap CSS */
	line-height: normal;
	font-size: medium;
}

iframe.embedded-demo {
	padding:0;
	margin:0;
    min-width: 1200px;
    width: 100%;
    border:0;
}

#header {
	right:0;
	left:0;
	background-color: #16693F;
	height:118px;
}

#GRNsightLogo {
	width: 200px;
	height: 118px;
	float:left;
	padding-right:10px;
}

#header p {
	color: #F8F8F8;
	margin: 0 10px 0 10px;
	text-shadow: 1px 1px 2px #080808;
}

#title {
	font-size: 60px;
	line-height: 1.4;
}

#title > a {
    color: #F8F8F8; /* Force to match header text regardless of state. */
}

#subtext {
	font-size: 20px;
	line-height: 1.2;
}

#lmu {
	position: relative;
	float:right;
	width:400px;
}

#subtextLMU {
	font-size: 15px;
	line-height: 1;
	font-style: italic;
	padding-right:5px;
	padding-top: 2px;
	text-align: right
}

#lmuLogo {
	position:relative;
	float:right;
	padding-left:10px;
}

#version {
	font-size:14px;
}

#navBar {
	margin-top:20px;
	padding-top:1px;
	width: 160px;
	height:300px;
	position: absolute;
}

#stickyBar.affix {
	top: 0px;
}

.nav {
	list-style-type: none;
	line-height: 2;
	font-size: 15px;
	border-right: 1px solid #828282;
	width:159px;
}

a {
	text-decoration: none;
	color: #16693F;
}

a:hover {
	color: #69163F;
}

a:active {
	color: #125432;
}

#pageContent a, #CCLicense a {
	text-decoration: underline;
}

#modText {
	padding: 5px 0 0 40px;
	line-height: 1;
	font-size: 12px;
	width: 130px;
}

#mainContent {
	left:0;
	right:0;
	margin: 20px 0px 0px 209px;
	padding: 5px 5px 5px 5px;
}

#pageTitle {
	font-size: 25px;
	color: #141414;
}

#pageContent {
	color:#141414;
	font-size: 14px;
	padding: 0px 5px 5px 10px;
}

#pageContent p {
	text-align: justify;
	width: 90%;
}

#pageContent li {
	text-align: justify;
	width: 95%;
}

p.panel-title.aboutHeaders {
	font-size: 16px;
	font-weight: bold;
}

.name {
	font-weight:bold;
	font-size:18px;	
	margin:0 0 0 0;
	padding-left:15px;
}

.personInfo {
	font-weight:normal;
	font-size:15px;
	margin: 0 0 0 30px;
}

h3 {
	padding-left: 10px;
	margin: 15px 0 10px 0;
}

.abstract {
	font-size: 15px;
	margin-left: 30px;
}

div.abstract > iframe {
	border:1px solid #CCC; 
	border-width:1px 1px 0; 
	margin-bottom:5px; 
	max-width: 100%;
}

.newsDate {
	font-weight:bold;
	font-size:18px;	
	line-height: 1.5;
	margin:0 0 0 0;
	padding-left:15px;
	width:75%;
	border-bottom: 1px solid #828282;
}

.newsHeader {
	font-weight:bold;
	font-size:15px;	
	margin:0 0 0 0;
	padding: 10px 0 0 30px;
}

.newsInfo {
	font-size:14px;	
	margin:0 0 0 0;
	padding: 10px 0 30px 30px;
}

.linkHeader {
	font-weight:bold;
	font-size:18px;	
	margin:0 0 0 0;
	padding-left:15px;
}

.linkInfo {
	font-size:15px;	
}

#separate {
	width:90%;
}

#footerNav {
	padding-top:20px;
	list-style-type: none;
	font-size: 12px;
	text-align: center;
}

#footerNav li {
	display:inline;
	padding: 15px 15px;
}

#CCLicense {
	font-size: 12px;
	text-align: center;
}

ul {
	list-style-type: disc;
}

ul ul {
	list-style-type: circle;
}

ul ul ul {
	list-style-type: square;
}

/* Overwrite Bootstrap styling */
* {
	box-sizing: content-box;
}

html {
	font-size: medium;
}

.panel-title {
	font-size: 13px;
}

.panel-default>.panel-heading {
	background-color: #dfebe5;
}

.panel-heading {
	padding: 7px 15px;
}
