nav
  display: none !important

.container
  width: 100%
  margin: 0
  padding: 0

.grnsight-container
  left: 0px
  top: 0px
  right: 0px
  bottom: 0px
  border: none
  position: static
  float: left
  margin: 0
  max-width: 100%
  max-height: 100%

.scale-and-scroll
  visibility: hidden

.sidebar
  visibility: hidden

.sliders
  display: none
  margin-left: 0px
  width: 0px
