
a {
  color: #16693f;
}

a:hover {
  color: #3f1669;
}

body {
  font-family: 'Georgia', serif;
	margin: 0;
	background-color: #FFFFFF;
	min-width: 1300px;

}

iframe {
  border:none;
}


sup {
  line-height: 2;
}


#gene-name {
  text-align: left;

}
#gene-species {
  font-style: italic;
  text-align: left;
}

#iframeHeader {
  height: 118px;
  box-sizing: content-box;
  min-width: 100%;
}

#iframeMenu {
  position: absolute;
  min-height: 450px;
  min-width: 160px;
}

#iframeFooter {
  width: 100%;
	display: block;
}

#mainContent {
  left: 0;
  right: 0;
  margin: 20px 0px 0px 209px;
  padding: 5px 5px 5px 5px;
}

#pageContent {
  padding: 0px 5px 5px 10px;
  margin-right: 8em;
}

#pageHead {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 25px;
  min-height: 78px;
}

.btn {
  color: white;
  margin-right: 10px;
}

.btn-green {
  background-color: #16693f;
}

.btn-purple {
  background-color: #3f1669;
}

.btn-brown {
  background-color: #693f16;
}

.btn-turquoise {
  background-color: #166969;
}

.btn-violet {
  background-color: #691640;
}

.card {
  margin-bottom: 5px;
}

.card-header {
  text-decoration: underline;
  padding: 7px 15px;
}

.card-header > h5 {
  margin-left: -5px;
  font-size: 16px;
}

.card-block {
   margin-left: 10px;
}

.close {
  color: black;
}

.codeSequence {
  font-family: Courier;
  color:black;
}

.container-fluid {
  padding-left: 0px;
}

.col {
  padding: 0px;
}

.col-12 {
  padding: 0px;
}

.database-link {
  color:  #16693f;
  font-weight: 700;
}

.gene-link {
  color:  #16693f;
}

.jumbotron {
  background-color: white;
  padding-bottom: 0px !important;
}

.row {
  margin: 0px;
}

.sequenceLogo {
  width: 50%;
}

.frequencyMatrix {
  width: 100%;
}

.green {
  color: #16693f;
}

.purple {
  color: #3f1669;
}

.brown {
  color: #693f16;
}

.turquoise {
  color: #166969;
}

.violet {
  color: #691640;
}
