body {
  font-family: sans-serif;
}

iframe {
  border:none;
  width: 100%;
  height: 100%;
}

.btn {
  color: white;
}

.btn-green {
  background-color: #16693f;
}

.btn-purple {
  background-color: #3f1669;
}

.btn-brown {
  background-color: #693f16;
}

.btn-turquoise {
  background-color: #166969;
}

.btn-violet {
  background-color: #691640;
}

.card-block {
   margin-left: 10px;
}

.close {
  color: black;
}

.codeSequence {
  font-family: Courier;
  color:black;
}

.database-link {
  color:  #16693f;
  font-weight: 700;
}


.jumbotron {
  background-color: white;
  padding-bottom: 0px !important;
}

.sequenceLogo {
  width: 100%;
}

.frequencyMatrix {
  width: 100%;
}


.green {
  color: #16693f;
}

.purple {
  color: #3f1669;
}

.brown {
  color: #693f16;
}

.turquoise {
  color: #166969;
}

.violet {
  color: #691640;
}

#gene-species {
  text-align:right;
}

#iframeMenu {
  height: 600px;
  z-index: 0;
}

#mainPage {
  margin-top: 200px;
  z-index: 1;
  margin-left: -25px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}
