<!doctype html>
<html>
    <head>
        <title>GRNsight - {{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/footer.css">
        <meta charset="utf-8">
        {% seo title=false %}
    </head>
    <body>

        <div>
            {{ content }}

        </div>

{% include scripts.html %}

    </body>

</html>
