doctype html
html
  head
    title GRNsight
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
    link(href="/stylesheets/grnsight.css", rel="stylesheet")

  body
    div(class='container')
      div(class='row')
        div(class='col-md-12')
          form(enctype='multipart/form-data', class='form-inline', role='form')
            div(class='form-group')
              label(for='linkDistInput') GRNmap Spreadsheet:
              input(type='file', class='form-control', name='upload', id='upload', data-filename-placement='inside')
            div(class='form-group pull-right')
              input(type='submit', class='btn btn-success')
      div(class='row')
        div(class='col-md-12')
          form(class='form-inline')
            div(class='form-group')
              label(for='linkDistInput') Link Distance:
              span 1
              input(class='form-control', type='range', min='1', max='500', value='80', step='1', id='linkDistInput', name='linkDistInput')
              span 500
            div(class='form-group')
              label(for='chargeInput') Charge:
              span -1000
              input(class='form-control', type='range', min='-1000', max='0', value='-300', step='1', id='chargeInput', name='chargeInput')
              span 0
            div(class='form-group')
              label(for='chargeDistInput') Charge Distance:
              span 0
              input(class='form-control' type='range', min='0', max='1000', value='100', step='1', id='chargeDistInput', name='chargeDistInput')
              span 1000
      div(class='grnsight-container')
  script(src='//code.jquery.com/jquery-2.1.0.min.js')
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
  script(src='/lib/bootstrap.file-input/bootstrap.file-input.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js')
  script(src='/js/graph.js')
  script(src='/js/upload.js')
  