doctype html
html
  head
    title GRNsight
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
    link(href="/stylesheets/grnsight.css", rel="stylesheet")
    link(href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css", rel="stylesheet")
    script(src="http://code.jquery.com/jquery-1.9.1.js")
    script(src="http://code.jquery.com/ui/1.10.1/jquery-ui.js")
  
  body
    div(class='container')
      div(class='row')
        div(class='col-md-12')
          form(enctype='multipart/form-data', class='form-inline', role='form')
            div(class='form-group')
              label(for='linkDistInput') GRNmap Spreadsheet:
              input(type='file', class='form-control', name='upload', id='upload')
            div(class='form-group pull-right')
              input(type='submit', class='btn btn-success' value='Submit')
      div(class='grnsight-container')
    div(class='sliders')
        form
          label(for='linkDistInput') Link Distance: 
          span(id='linkDistVal') 200
          input(class='form-control', type='range', min='1', max='500', value='200', step='1', id='linkDistInput', name='linkDistInput' disabled)
          label(for='chargeInput') Charge:
          span(id='chargeVal') -500
          input(class='form-control', type='range', min='-1000', max='0', value='-500', step='1', id='chargeInput', name='chargeInput' disabled)
          label(for='chargeDistInput') Charge Distance:
          span(id='chargeDistVal') 1000
          input(class='form-control', type='range', min='0', max='1000', value='1000', step='1', id='chargeDistInput', name='chargeDistInput' disabled)
          label(for='gravityInput') Gravity:
          span(id='gravityVal') 0.1
          input(class='form-control', type='range', min='0', max='1', value='0.1', step='0.1', id='gravityInput', name='gravityInput' disabled)
        form
          input(id='lockSliders', type='checkbox', value='lockSliders' disabled)
          label(for='lockSliders' style='font-weight:normal') Lock Sliders
        form
          input(id='resetSliders' type='button' class='btn btn-default' value='Reset Sliders' disabled) 
          | &nbsp; 
          input(id='undoReset' type='button' class='btn btn-default' value='Undo Reset' disabled)
    div(id='myModal' class='modal fade' tab-index='-1' role='dialog' aria-labelledby='mySmallModalLabel' aria-hidden='true')
      div(class='modal-dialog modal-sm')
        div(class='modal-content')
          div(class='modal-header')
            input(type='button' class='close' data-dismiss='modal' aria-hidden='true' value='X')
            h4(class='modal-title') Error
          div(class='modal-body')
            p(id='error')
          div(class='modal-footer')
            input(type='button' class='btn btn-default' data-dismiss='modal' value='Close')
            input(type='button' id='launchFileOpen' class='btn btn-primary' data-dismiss='modal' value='Select New File' onclick="$('#upload').click()")
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
  script(src='/lib/bootstrap.file-input/bootstrap.file-input.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js')
  script(src='/js/graph.js')
  script(src='/js/upload.js')
