doctype html
html
  head
    title GRNsight
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
    link(href="stylesheets/grnsight.css", rel="stylesheet")
    link(href="stylesheets/print.css", rel="stylesheet", media="print")
    link(href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css", rel="stylesheet")
    script(src="http://code.jquery.com/jquery-1.9.1.js")
    script(src="http://code.jquery.com/ui/1.10.1/jquery-ui.js")
    script.
      (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,"script","//www.google-analytics.com/analytics.js","ga");
      ga("create", "UA-54882218-1", "auto");

  body
    nav(class='navbar navbar-default' role='navigation')
      div(class='container-fluid')
        div(class='navbar-header')
          button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='#header-nav')
            span(class='sr-only') Toggle Navigation
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
        div(class='collapse navbar-collapse' id='header-nav')
          ul(class='nav navbar-nav')
            li(class='dropdown')
              a(href='#' class='dropdown-toggle' data-toggle='dropdown') File
              ul(class='dropdown-menu' role='menu')
                li
                  a(class='upload' href='#' id='open-item')
                    label(for='upload' id='open')
                      span(class='glyphicon glyphicon-folder-open')
                      | &nbsp; Open
                    input(type='file' name='upload' id='upload' accept='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet')
                    input(type='hidden' id='service-root' value='#{serviceRoot}')
                li(class='startDisabled disabled')
                  a(href='#' id='reload')
                    span(class='glyphicon glyphicon-repeat')
                    | &nbsp; Reload
                li(class='divider')
                li(class='dropdown-submenu')
                  a(href='#')
                    span(class='glyphicon glyphicon-import')
                    | &nbsp; Import
                  ul(class='dropdown-menu')
                    li
                      a(class='upload' href='#' id='importSif')
                        label(for='upload-sif' id='import-sif') SIF…
                        input(type='file' name='upload-sif' id='upload-sif' accept='.sif')
                    li
                      a(class='upload' href='#' id='importGraphMl')
                        label(for='upload-graphml' id='import-graphml') GraphML…
                        input(type='file' name='upload-graphml' id='upload-graphml' accept='.graphml')
                    li(class='disabled not-yet-implemented')
                      a(class='upload' href='#' id='importGml')
                        label(for='upload-gml' id='import-gml') GML…
                li(class='dropdown-submenu')
                  a(href='#')
                    span(class='glyphicon glyphicon-export')
                    | &nbsp; Export Data
                  ul(class='dropdown-menu')
                    li(class='startDisabled disabled unweighted export')
                      a(href='#' id='exportAsUnweightedSif') To Unweighted SIF
                    li(class='startDisabled disabled weighted export')
                      a(href='#' id='exportAsWeightedSif') To Weighted SIF
                    li(class='divider')
                    li(class='startDisabled disabled unweighted export')
                      a(href='#' id='exportAsUnweightedGraphMl') To Unweighted GraphML
                    li(class='startDisabled disabled weighted export')
                      a(href='#' id='exportAsWeightedGraphMl') To Weighted GraphML
                    li(class='divider not-yet-implemented')
                    li(class='startDisabled disabled not-yet-implemented unweighted export')
                      a(href='#' id='exportAsUnweightedGml') To Unweighted GML
                    li(class='startDisabled disabled not-yet-implemented weighted export')
                      a(href='#' id='exportAsWeightedGml') To Weighted GML
                li(class='dropdown-submenu disabled not-yet-implemented')
                  a(href='#')
                    span(class='glyphicon glyphicon-picture')
                    | &nbsp; Export Image
                  ul(class='dropdown-menu')
                    li(class='disabled')
                      a(href='#' id='exportAsJpg') To JPEG
                    li(class='disabled')
                      a(href='#' id='exportAsPdf') To PDF
                    li(class='disabled')
                      a(href='#' id='exportAsSvg') To SVG
                li(class='divider')
                li(class=' startDisabled disabled')
                  a(href='#' id='printGraph')
                    span(class='glyphicon glyphicon-print')
                    | &nbsp; Print
            li(class='dropdown')
              a(href='#' class='dropdown-toggle' data-toggle='dropdown' disabled) Edit
              ul(class='dropdown-menu' role='menu')
                li(class='disabled not-yet-implemented')
                  a(href='#')
                    span(class='glyphicon invisible')
                    | &nbsp; Undo
                li(class='disabled not-yet-implemented')
                  a(href='#')
                    span(class='glyphicon invisible')
                    | &nbsp; Redo
                li(class='divider not-yet-implemented')
                li(class='dropdown-submenu')
                  a(href='#')
                    span(class='glyphicon glyphicon-wrench')
                    | &nbsp; Preferences
                  ul(class='dropdown-menu')
                    li
                      a(href='#' id='colorEdges' class='colorPreferences active')
                        span(class='glyphicon glyphicon-ok')
                        | &nbsp; Format edges based on optimized weight parameters
                    li
                      a(href='#' id='blackEdges' class='colorPreferences')
                        span(class='glyphicon invisible')
                        | &nbsp; Default to black edges with regular arrowheads
            li(class='dropdown')
              a(href='#' class='dropdown-toggle', data-toggle='dropdown') Format
              ul(class='dropdown-menu' role='menu')
                li
                  a(href='#' id='lockSlidersMenu' class="lockSliders")
                    span(class='glyphicon invisible')
                    | &nbsp; Lock Force Graph Parameters
                li(class='disabled not-yet-implemented')
                  a(href='#' class='noGlyph')
                    span(class='glyphicon invisible')
                    | &nbsp; Lock Nodes
                li(class='divider')
                li
                  a(href='#' id='resetSlidersMenu' class="resetSliders")
                    span(class='glyphicon invisible')
                    | &nbsp; Reset Force Graph Parameters
                li(class='disabled')
                  a(href='#' id='undoResetMenu' class="undoSliderReset")
                    span(class='glyphicon invisible')
                    | &nbsp; Undo Reset

                li(class='divider')
                li
                  a(href='#' id='weightsMouseOverMenu' class='weightsMouseOver' class='selected')
                    span(class='glyphicon glyphicon-ok')
                    | &nbsp; Only Show Edge Weights With Mouse Over
                li
                  a(href='#' id='weightsAlwaysMenu' class='weightsAlways')
                    span(class='glyphicon')
                    | &nbsp; Always Show Edge Weights
                li
                  a(href='#' id='weightsNeverMenu' class='weightsNever')
                    span(class='glyphicon')
                    | &nbsp; Never Show Edge Weights

            li(class='dropdown hidden')
              a(href='#' class='dropdown-toggle' data-toggle='dropdown') Data
              ul(class='dropdown-menu' role='menu')
                li(class='disabled')
                  a(href='#') Node Coloring Settings
                li(class='disabled')
                  a(href='#') Edge Coloring Settings
            li(class='dropdown')
              a(href='#' class='dropdown-toggle' data-toggle='dropdown') Help
              ul(class='dropdown-menu' role='menu')
                li
                  a(href='http://dondi.github.io/GRNsight/documentation.html#gettingStarted', target='_blank') Getting Started
                li
                  a(href='https://github.com/dondi/GRNsight/wiki', target='_blank') GRNsight Wiki
                li
                  a(href='http://dondi.github.io/GRNsight/about.html', target='_blank') About GRNsight
            li(class='dropdown')
              a(href='#' class='dropdown-toggle' data-toggle='dropdown') Demo
              ul(class='dropdown-menu' role='menu')
                li
                  a(href='#' id='unweighted') Demo #1: Unweighted GRN (21 genes, 50 edges)
                li
                  a(href='#' id='weighted') Demo #2: Weighted GRN (21 genes, 50 edges, Dahlquist Lab unpublished data)
                li
                  a(href='#' id='schadeInput') Demo #3: Unweighted GRN (21 genes, 31 edges)
                li
                  a(href='#' id='schadeOutput') Demo #4: Weighted GRN (21 genes, 31 edges, Schade et al. 2004 data)
            li
              a(href='#' id='fileName')
          ul(class='nav navbar-nav navbar-right graph-metadata-container')
            li(class='navbar-text text-right')
              small(id='graph-metadata')

    div(class='container')
      div(class='grnsight-container')
        div(class='scale-and-scroll')
          table(class='scrollTable')
            tr
              td
              td(class='scrollBtn scrollUp')
                  p(class='movementArrow') &#8593;
              td
            tr
              td(class='scrollBtn scrollLeft')
                p(class='movementArrow') &#8592;
              td(class='scrollBtn center')
                p(class='movementArrow') &#9788;
              td(class='scrollBtn scrollRight')
                p(class='movementArrow') &#8594;
            tr
              td
              td(class='scrollBtn scrollDown')
                p(class='movementArrow') &#8595;
              td
          
          span(class="pull-left zoomLabel")
            b
              | Zoom (1 - 200%):&nbsp;
          span(class="pull-right zoomLabel" id="zoomPercent") 100%
          br
          table(class='zoomTable')
            tr
              td
                div(class="zoomCenter")
                input(id="zoomSlider" class="zoomSlider" type="range" min="0" max="8" value="4" step="0.25" disabled="true")

    div(class='sidebar')
        //- Sliders should have the ID convention of -Name-Val and -Name-Input in order to work properly in the javascript
        div(id="force-graph")
          form
            label(for='linkDistInput', class='info', data-toggle='tooltip', title='Increases/decreases the length of the edges that connect the nodes.') Link Distance (1 - 1000):
            span(id='linkDistVal' class='forceVal') 500
            input(class='form-control', type='range', min='1', max='1000', value='500', step='1', id='linkDistInput', name='linkDistInput')
            label(for='chargeInput', class='info', data-toggle='tooltip', title='Increases/decreases the strength of the force that causes the nodes to repel each other.') Charge (-2000 - 0):
            span(id='chargeVal' class='forceVal') -1000
            input(class='form-control', type='range', min='-2000', max='0', value='-1000', step='1', id='chargeInput', name='chargeInput')
            label(for='chargeDistInput' class='info', data-toggle='tooltip', title='Increases/decreases the size of the charged area around a node.') Charge Distance (0 - 2000):
            span(id='chargeDistVal' class='forceVal') 1000
            input(class='form-control', type='range', min='0', max='2000', value='1000', step='1', id='chargeDistInput', name='chargeDistInput')
            label(for='gravityInput', class='info', data-toggle='tooltip', title='Increases/decreases the strength of the force holding the nodes to the center of the graph.') Gravity (0 - 1):
            span(id='gravityVal' class='forceVal') 0.10
            input(class='form-control', type='range', min='0', max='1', value='0.1', step='0.01', id='gravityInput', name='gravityInput')
          form
            input(id='lockSlidersButton', type='checkbox', value='lockSliders' class="lockSliders")
            label(for='lockSlidersButton' style='font-weight:normal') Lock Force Graph Parameters
          form
            input(id='resetSlidersButton' type='button' class='btn btn-default btnSidebar resetSliders' value='Reset Force Graph Parameters')
            input(id='undoResetButton' type='button' class='btn btn-default btnSidebar undoSliderReset' value='Undo Reset' disabled)
          p(id='warningMessage' data-toggle='modal' data-target='#warningsModal')
        div(class='input-group')
          form
            input(type='checkbox' id='viewport' class='viewport' name='viewport' value='viewport')
            label(for='viewport' style='font-weight:normal' class='sideLabel') Restrict graph to viewport
            br
            p(class='sideHeader') Viewport Size
            input(type='radio' id='boundBoxS' class='boundBoxSize' name='size' value='containerS')
            label(for='boundBoxS' style='font-weight:normal' class='sideLabel') Small
            small (1104 X 648 pixels)
            br
            input(type='radio' id='boundBoxM' class='boundBoxSize' name='size' value='containerM')
            label(for='boundBoxM' style='font-weight:normal' class='sideLabel') Medium
            small (1414 X 840 pixels)
            br
            input(type='radio' id='boundBoxL' class='boundBoxSize' name='size' value='containerL')
            label(for='boundBoxL' style='font-weight:normal' class='sideLabel') Large
            small (1920 X 1080 pixels)
            br
            input(type='radio' id='boundBoxFit' class='boundBoxSize' name='size' value='containerFit')
            label(for='boundBoxFit' style='font-weight:normal' class='sideLabel') Fit to window
            br
          form(class='weightedGraphOptions hidden')
            p(class='sideHeader') Hide/Show Edge Weights
            input(type='radio' id='weightsMouseOverSide' class='weightsMouseOver' name='size' class='selected' checked)
            label(for='weightsMouseOverSide' style='font-weight:normal' class='sideLabel') Show With Mouse Over
            <br>
            input(type='radio' id='weightsAlwaysSide' class='weightsAlways' name='size')
            label(for='weightsAlwaysSide' style='font-weight:normal' class='sideLabel') Always Show Edge Weights
            <br>
            input(type='radio' id='weightsNeverSide' class='weightsNever' name='size')
            label(for='weightsNeverSide' style='font-weight:normal' class='sideLabel') Never Show Edge Weights
          div(class='weightedGraphOptions hidden')
            p(class='sideHeader' id="normLabel") Edge Weight Normalization Factor
            p(class='sideHeader' id="normLabel") (0.0001 - 1000): &nbsp;
            input(type='text' class='normalization-form' id='normalization-max' placeholder='maximum' aria-describedby='basic-addon1')
            div(id='btn-side')
              button(type="button" class='btn btn-default s' id="normalization-button") Set Factor
              button(type='button' class='btn btn-default btn-norm' id='resetNormalizationButton') Reset Factor
          div(class='weightedGraphOptions hidden')
            label(id='grayLabel' for='grayThresholdInput', class='info', data-toggle='tooltip', title='Increases/decreases the threshold at which edges appear gray. Edges with normalized weight values below this percentage are shown as gray.') Gray Edge Threshold (0 - 1): &nbsp; &nbsp;
            output(for='grayThresholdInput', class='forceVal', id='grayThresholdValue') 0.05
            input(id='grayThresholdInput', class='form-control', type='range', min='0', max='1', value='0.05', step='0.01', oninput='outputUpdate(value)')

    div(class='graph-statistics-container hidden')
      div(class='panel panel-default')
        div(class='panel-heading' role='tab' id='graph-statistics-heading')
          h4(class='panel-title')
            a(role='button' data-toggle='collapse' href='#graph-statistics' aria-expanded='true') Graph Statistics
        div(id='graph-statistics' class='panel-collapse collapse' role='tabpanel' aria-labelledby='graph-statistics-heading')
          div(class='panel-body')
            table(class='table table-condensed')
              thead
                tr
                  th(rowspan='2')
                  th(rowspan='2') Betweenness Centrality
                  th(class='shortest-path-header') Shortest Path
                tr(class='shortest-path-column-headers')
              tbody

    div(id='errorModal' class='modal fade' tab-index='-1' role='dialog' aria-labelledby='mySmallModalLabel' aria-hidden='true')
      div(class='modal-dialog')
        div(class='modal-content')
          div(class='modal-header')
            button(type='button' class='close' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h4(class='modal-title') Error
          div(class='modal-body')
            p(id='error')
          div(class='modal-footer')
            input(type='button' class='btn btn-default' data-dismiss='modal' value='Close')
            input(type='button' id='launchFileOpen' class='btn btn-primary' data-dismiss='modal' value='Select New File')

    div(id='warningsModal' class='modal fade' tab-index='-1' role='dialog' aria-labelledby='mySmallModalLabel' aria-hidden='true')
      div(class='modal-dialog')
        div(class='modal-content')
          div(class='modal-header')
            button(type='button' class='close' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h4(class='modal-title') Warning
          div(class='modal-body' overflow='scroll')
            p(id='warningIntro')
            div(class='panel-group' id='accordion' role='tablist' aria-multiselectable='true')
              div(class='panel panel-default')
                div(class='panel-heading' role='tab' id='warningsHeader')
                  h4(class='panel-title')
                    a(data-toggle='collapse' data-parent='accordian' href='#warningsInfo' aria-expanded='true' aria-controls='warningsInfo') Warnings List
                div(id='warningsInfo' class='panel-collapse collapse' role='tabpanel' aria-labelledby='warningsHeader')
                  div(class='panel-body' id='list-frame')
                    p(id='warningsList')

          div(class='modal-footer')
            input(type='button' class='btn btn-default' data-dismiss='modal' value='Close')
            //- input(type='button' id='launchFileOpen' class='btn btn-primary' data-dismiss='modal' value='Select New File' onclick="$('#upload').click()")

    div(id='importErrorModal' class='modal fade' tab-index='-1' role='dialog' aria-hidden='true')
      div(class='modal-dialog')
        div(class='modal-content')
          div(class='modal-header')
            button(type='button' class='close' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
            h4(class='modal-title') Import Error
          div(class='modal-body')
            p The following error was encountered during the import attempt:
            blockquote(id='importErrorMessage')
            div Please verify that the file being imported is in the right format then try the import again.
          div(class='modal-footer')
            input(type='button' class='btn btn-default' data-dismiss='modal' value='Close')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  script(src='lib/bootstrap.file-input/bootstrap.file-input.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js')
  script(src='js/sliders.js')
  script(src='js/container.js')
  script(src='js/graph.js')
  script(src='js/graph-statistics.js')
  script(src='js/upload.js')
