ul(class='dropdown-menu' role='menu' id="demo-dropdown")
  li
    a(href='#' class='unweighted' data-expression="unweighted") Demo #1: Unweighted GRN (15 genes, 28 edges, Dahlquist Lab unpublished data)
  li
    a(href='#' class='weighted' data-expression="weighted") Demo #2: Weighted GRN (15 genes, 28 edges, Dahlquist Lab unpublished data)
  li
    a(href='#' class='schadeInput' data-expression="schadeInput") Demo #3: Unweighted GRN (21 genes, 31 edges)
  li
    a(href='#' class='schadeOutput' data-expression="schadeOutput") Demo #4: Weighted GRN (21 genes, 31 edges, Schade et al. 2004 data)
  li
    a(href='#' class='ppi' data-expression="ppi") Demo #5: PPI (18 proteins, 81 edges)
